body{
	font-family:Arial, Helvetica, sans-serif;
}
#maincontent{
	width:100%;
}
#maincontentinner{
	width:70%;
	margin:0 auto;
	}
	
#filterPanel{
	margin:20px 0
	}

input.filter{
	border:1px solid #ccc;
	padding:5px
	}
	
.message,label{
	font-size:12px
	}

form span{
	display:inline-block;
	padding:5px 5px;
}
			
			

table.responsive { margin-bottom: 0; }	
table.responsive td, table.responsive th { position: relative; white-space: nowrap; overflow: hidden; }
table.responsive th:first-child, table.responsive td:first-child,
table.responsive td:first-child, table.responsive.pinned td { display: none; }

.table th { font-weight: normal; text-transform: uppercase; font-size: 12px; border-top: 0; background: #333; color: #fff; }
.table td { font-weight: normal;font-size: 12px;}
.table.table-bordered { border-top: 0; border-right: 0; }
.table.table-bordered th { border-color: #444; }
.table.table-bordered td:last-child { border-right: 1px solid #ddd; }
.table .con0 { background: #fff; }
.table .con1 { background: #f7f7f7; }
table{max-width:100%;background-color:transparent;border-collapse:collapse;border-spacing:0;}
.table{width:100%;margin-bottom:20px;}
.table th,.table td{padding:8px;line-height:20px;text-align:left;vertical-align:top;border-top:1px solid #dddddd;}
.table th{font-weight:bold;}
.table thead th{vertical-align:bottom;}
table tbody+tbody{border-top:2px solid #dddddd;}
.table .table{background-color:#ffffff;}
.table-bordered{border:1px solid #dddddd;border-collapse:separate;*border-collapse:collapse;}
.table-bordered th,.table-bordered td{border-left:1px solid #dddddd;}
